@import "../variables";

.mo-multi-add {
  &__items-wrapper {
    max-height: 200px;
    overflow-y: scroll;
  }
  &__item {
    margin: 0 2px;
  }
  &__btn {
    padding: 4px;
    border-radius: $mo-radius;
    color: white;
    font-size: 16px;
  }
  &__duplicate {
    @extend .mo-multi-add__btn;
    color: $primary;
  }
  &__add {
    color: $primary;
  }
  &__save {
    @extend .mo-multi-add__btn;
    color: $primary;
  }
  &__delete {
    @extend .mo-multi-add__btn;
    color: $danger;
  }
}
