@import "../variables";

.mo {
  &-selected {
    color: $light !important;
    background-color: $dark !important;
  }
  &-dashboard-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    & .form-group {
      margin-bottom: 1rem;
    }
    &__header {
      &__containter {
        border-bottom: double 8px;
        margin: 20px 20px;
        padding-bottom: 10px;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &__start {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        &__center {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        &__end {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
        }
      }

      &__company-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        font-size: 1.3rem;
        width: 300px;
        @media (max-width: 1500px) {
          width: 160px;
        }
        @media (max-width: 1400px) {
          width: 200px;
        }
        @media (max-width: 1200px) {
          width: 125px;
          font-size: 17px;
        }
        @media (max-width: 1100px) {
          display: none;
        }
      }

      height: $mo-header-height;
      &__navigation {
        &__link {
          border-radius: 5px;
          padding: 5px;
          border-right: 1px solid $light;
          color: $dark;
          background: $light;
          &:last-child {
            border-right: none !important;
          }
          &:hover {
            color: $light;
            background-color: $dark;
          }
          i {
            margin-right: 5px;
          }
        }
      }

      &__search {
        width: 190px;
        margin-right: 10px;
        @media (max-width: 1400px) {
          display: none;
        }
      }
    }
    &__body {
      height: $mo-body-height;
    }
    &__tab-nav {
      padding-top: 10px;
      height: $mo-tab-height;
      z-index: 10;

      ul {
        z-index: 1000;
        position: relative;
      }
      a.nav-link {
        border: 1px solid rgb(222, 226, 230);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: transparent;
        padding: 5px 20px;
        color: $dark;
        &:hover {
          background-color: $dark !important;
          color: $light !important;
        }
      }
      & .mo-tab__active {
        border-bottom: 2px solid $light !important;
        background-color: $dark !important;
        color: $light !important;
      }
    }
    &__tab-body {
      height: $mo-tab-body-height;
    }
    &__tab-visual-roll-out {
      height: auto;
      max-height: 90vh;
    }
  }

  &-history-path {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0 !important;
    li {
      display: inline;
      a {
        color: $dark-grey;
        cursor: pointer;
        &.mo-path__active {
          color: $primary;
        }
      }
      i {
        color: $dark-grey;
        font-size: 15px;
      }
    }
  }

  &-back-btn {
    color: $dark;
    font-size: 1.2rem;
    transition: 0.3s ease-in-out all;
    &:hover {
      transform: scale(1.2);
    }
  }

  // if the content overflows the container height
  // prevent overflow and enable scrolling
  &-dashboard-body {
    position: relative;
    &__aligned {
      @extend .mo-dashboard-body;
      max-width: 75vw;
      margin: auto;
    }
    &__loading-wrapper {
      z-index: 1000;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      touch-action: none;
      backdrop-filter: blur(5px);
    }
    &__content {
      max-height: 100%;
      // overflow-y: auto;
      flex: 1;
    }
    &__footer {
      flex-wrap: nowrap;
      //TODO check if this comment breaks anything
      // overflow-x: scroll;
      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }
      /* Hide scrollbar for IE, Edge add Firefox */
      & {
        -ms-overflow-style: none;
        scrollbar-width: none; /* Firefox */
      }
    }
  }
}
